// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.section {
    margin-top: 60px;
    text-align: center;
    color: #ffa071;
}
